<div style="padding-top: 20px">
  <center>
    <h1 class="login-header">Cocktail Form</h1>

    <% if flash[:notice] %>
      <%= flash[:notice] %>
      <br><br>
    <% end %>
    <div style="padding-top: 5px">
      <h2><%= render "form", ingredient_count: @ingredient_count %></h2>
    </div>
    <br>
    <div>
      <h2><%= button_to "Back to All Cocktails", cocktails_path, method: 'get' %></h2>
    </div>
  </center
</div>
