<div style="padding-top: 20px">
  <center>
    <h1 class="login-header">Create an Ingredient</h1>
    <div style="padding-top: 5px">
      <h2><%= render 'form' %></h2>
    </div>
    <br>
    <h2><%= button_to "Back to All Ingredients", ingredients_path, method: 'get' %></h2>
  </center>
</div>
