<h1><%=@ingredient.name%></h1>
<p>Cocktails:</p>
<ul>
<% @ingredient.cocktails.each do |cocktail|%>
<li><%= link_to cocktail.name, cocktail %></li>
<% end %>
</ul>
<%= link_to "Back to All Ingredients", ingredients_path %>
